@use "sass:math";
/* board color */
$primary: #002660;
$primary-hover: #003585;
$primary-main: #3874ff;
$primary-border: #156ef3;
$primary-focus-lv1: #6492FF;
$primary-focus-lv2: #c7ddff;
$primary-bg-color: #f8fbff;
$success: #006c58;
$success-hover: #008d5e;
$success-main: #00bd7e;
$success-border: #17e5a1;
$success-focus: #a9fbe0;
$success-bg-color: #ebfff8;
$warning: #b77d09;
$warning-hover: #e39f17;
$warning-main: #ffb41f;
$warning-border: #f7c86a;
$warning-focus: #fbe0a9;
$warning-bg-color: #fff8eb;
$danger: #920122;
$danger-hover: #c60833;
$danger-main: #b20000;
$danger-border: #f35370;
$danger-focus: #fdabb9;
$danger-bg-color: #fff1f4;
$info: #023480;
$info-hover: #0f4eae;
$info-main: #2668cb;
$info-border: #679ef2;
$info-focus: #c1d9fd;
$info-bg-color: #f2f7ff;
$orange: #a14603;
$orange-hover: #cf5c08;
$orange-main: #ff740f;
$orange-border: #fe9244;
$orange-focus: #fec79f;
$orange-bg-color: #fff9f4;
$purple: #5d1c7b;
$purple-hover: #7f1bad;
$purple-main: #ad34e5;
$purple-border: #d179fa;
$purple-focus: #e5b9f9;
$purple-bg-color: #fcf4ff;
$neutral-100: #1a1a1a;
$neutral-90: #424242;
$neutral-80: #616161;
$neutral-70: #757575;
$neutral-60: #9e9e9e;
$neutral-50: #c2c2c2;
$neutral-40: #e0e0e0;
$neutral-30: #ededed;
$neutral-20: #f5f5f5;
$base: #f5f7fa;

/* shadow */
$shadow: (
  "2-12": 0px 2px 4px 0px #0000001f,
  "4-10": 0px 4px 8px 0px #0000001a,
  "6-10": 0px 6px 12px 0px #0000001a,
  "6-8": 0px 8px 16px 0px #00000014,
  "primary": 0 0 0 1px $primary-focus-lv1,
  "danger": 0 0 0 1px $danger-focus,
  "warning": 0 0 0 1px $warning-focus,
  "info": 0 0 0 1px $info-focus,
  "success": 0 0 0 1px $info-focus,
  "loading": 0 0 0 1px $neutral-70,
  "header": 0px 2px 4px 0px rgba(0, 0, 0, 0.12),
  "none": none,
);

/* screen */
$screen: ("sm", "md", "lg", "xl", "xxl");
$action: ("hover", "checked", "focus", "focus-within", "after", "before");
$opacity: (0, 10, 20, 30, 40, 50, 60, 70, 75, 80, 90);
$buttonSize: (
  "extraSm": 6px 16px,
  "normal": 16px 32px,
);
$listType: (
  "none": none,
  "disc": disc,
  "decimal": decimal,
);
$display: (
  "block": block,
  "inline-block": inline-block,
  "inline": inline,
  "flex": flex,
  "inline-flex": inline-flex,
  "table": table,
  "inline-table": inline-table,
  "table-caption": table-caption,
  "table-cell": table-cell,
  "table-column": table-column,
  "table-column-group": table-column-group,
  "table-footer-group": table-footer-group,
  "table-header-group": table-header-group,
  "table-row-group": table-row-group,
  "table-row": table-row,
  "flow-root": flow-root,
  "grid": grid,
  "inline-grid": inline-grid,
  "contents": contents,
  "list-item": list-item,
  "hidden": none,
);

$properties-boardColor: (
  "primary": $primary-main,
  "primary-bold": $primary,
  "primary-hover": $primary-hover,
  "primary-border": $primary-border,
  "primary-focus-lv1": $primary-focus-lv1,
  "primary-focus-lv2": $primary-focus-lv2,
  "primary-bg-color": $primary-bg-color,
  "success": $success-main,
  "success-bold": $success,
  "success-hover": $success-hover,
  "success-border": $success-border,
  "success-focus-lv1": $success-focus,
  "success-bg-color": $success-bg-color,
  "warning": $warning-main,
  "warning-bold": $warning,
  "warning-hover": $warning-hover,
  "warning-border": $warning-border,
  "warning-focus-lv1": $warning-focus,
  "warning-bg-color": $warning-bg-color,
  "danger": $danger-main,
  "danger-bold": $danger,
  "danger-hover": $danger-hover,
  "danger-border": $danger-border,
  "danger-focus-lv1": $danger-focus,
  "danger-bg-color": $danger-bg-color,
  "info": $info-main,
  "info-bold": $info,
  "info-hover": $info-hover,
  "info-border": $info-border,
  "info-focus-lv1": $info-focus,
  "info-bg-color": $info-bg-color,
  "neutral-100": $neutral-100,
  "neutral-90": $neutral-90,
  "neutral-80": $neutral-80,
  "neutral-70": $neutral-70,
  "neutral-60": $neutral-60,
  "neutral-50": $neutral-50,
  "neutral-40": $neutral-40,
  "neutral-30": $neutral-30,
  "neutral-20": $neutral-20,
  "base": $base,
);

$properties-color: (
  "transparent": transparent,
  "black": rgb(0 0 0),
  "white": rgb(255 255 255),
  "slate-50": rgb(248 250 252),
  "slate-100": rgb(241 245 249),
  "slate-200": rgb(226 232 240),
  "slate-300": rgb(203 213 225),
  "slate-400": rgb(148 163 184),
  "slate-500": rgb(100 116 139),
  "slate-600": rgb(71 85 105),
  "slate-700": rgb(51 65 85),
  "slate-800": rgb(30 41 59),
  "slate-900": rgb(15 23 42),
  "slate-950": rgb(2 6 23),
  "gray-50": rgb(249 250 251),
  "gray-100": rgb(243 244 246),
  "gray-200": rgb(229 231 235),
  "gray-300": rgb(209 213 219),
  "gray-400": rgb(156 163 175),
  "gray-500": rgb(107 114 128),
  "gray-600": rgb(75 85 99),
  "gray-700": rgb(55 65 81),
  "gray-800": rgb(31 41 55),
  "gray-900": rgb(17 24 39),
  "gray-950": rgb(3 7 18),
  "zinc-50": rgb(250 250 250),
  "zinc-100": rgb(244 244 245),
  "zinc-200": rgb(228 228 231),
  "zinc-300": rgb(212 212 216),
  "zinc-400": rgb(161 161 170),
  "zinc-500": rgb(113 113 122),
  "zinc-600": rgb(82 82 91),
  "zinc-700": rgb(63 63 70),
  "zinc-800": rgb(39 39 42),
  "zinc-900": rgb(24 24 27),
  "zinc-950": rgb(9 9 11),
  "neutral-50": rgb(250 250 250),
  "neutral-100": rgb(245 245 245),
  "neutral-200": rgb(229 229 229),
  "neutral-300": rgb(212 212 212),
  "neutral-400": rgb(163 163 163),
  "neutral-500": rgb(115 115 115),
  "neutral-600": rgb(82 82 82),
  "neutral-700": rgb(64 64 64),
  "neutral-800": rgb(38 38 38),
  "neutral-900": rgb(23 23 23),
  "neutral-950": rgb(10 10 10),
  "stone-50": rgb(250 250 249),
  "stone-100": rgb(245 245 244),
  "stone-200": rgb(231 229 228),
  "stone-300": rgb(214 211 209),
  "stone-400": rgb(168 162 158),
  "stone-500": rgb(120 113 108),
  "stone-600": rgb(87 83 78),
  "stone-700": rgb(68 64 60),
  "stone-800": rgb(41 37 36),
  "stone-900": rgb(28 25 23),
  "stone-950": rgb(12 10 9),
  "red-50": rgb(254 242 242),
  "red-100": rgb(254 226 226),
  "red-200": rgb(254 202 202),
  "red-300": rgb(252 165 165),
  "red-400": rgb(248 113 113),
  "red-500": rgb(239 68 68),
  "red-600": rgb(220 38 38),
  "red-700": rgb(185 28 28),
  "red-800": rgb(153 27 27),
  "red-900": rgb(127 29 29),
  "red-950": rgb(69 10 10),
  "orange-50": rgb(255 247 237),
  "orange-100": rgb(255 237 213),
  "orange-200": rgb(254 215 170),
  "orange-300": rgb(253 186 116),
  "orange-400": rgb(251 146 60),
  "orange-500": rgb(249 115 22),
  "orange-600": rgb(234 88 12),
  "orange-700": rgb(194 65 12),
  "orange-800": rgb(154 52 18),
  "orange-900": rgb(124 45 18),
  "orange-950": rgb(67 20 7),
  "amber-50": rgb(255 251 235),
  "amber-100": rgb(254 243 199),
  "amber-200": rgb(253 230 138),
  "amber-300": rgb(252 211 77),
  "amber-400": rgb(251 191 36),
  "amber-500": rgb(245 158 11),
  "amber-600": rgb(217 119 6),
  "amber-700": rgb(180 83 9),
  "amber-800": rgb(146 64 14),
  "amber-900": rgb(120 53 15),
  "amber-950": rgb(69 26 3),
  "yellow-50": rgb(254 252 232),
  "yellow-100": rgb(254 249 195),
  "yellow-200": rgb(254 240 138),
  "yellow-300": rgb(253 224 71),
  "yellow-400": rgb(250 204 21),
  "yellow-500": rgb(234 179 8),
  "yellow-600": rgb(202 138 4),
  "yellow-700": rgb(161 98 7),
  "yellow-800": rgb(133 77 14),
  "yellow-900": rgb(113 63 18),
  "yellow-950": rgb(66 32 6),
  "lime-50": rgb(247 254 231),
  "lime-100": rgb(236 252 203),
  "lime-200": rgb(217 249 157),
  "lime-300": rgb(190 242 100),
  "lime-400": rgb(163 230 53),
  "lime-500": rgb(132 204 22),
  "lime-600": rgb(101 163 13),
  "lime-700": rgb(77 124 15),
  "lime-800": rgb(63 98 18),
  "lime-900": rgb(54 83 20),
  "lime-950": rgb(26 46 5),
  "green-50": rgb(240 253 244),
  "green-100": rgb(220 252 231),
  "green-200": rgb(187 247 208),
  "green-300": rgb(134 239 172),
  "green-400": rgb(74 222 128),
  "green-500": rgb(34 197 94),
  "green-600": rgb(22 163 74),
  "green-700": rgb(21 128 61),
  "green-800": rgb(22 101 52),
  "green-900": rgb(20 83 45),
  "green-950": rgb(5 46 22),
  "emerald-50": rgb(236 253 245),
  "emerald-100": rgb(209 250 229),
  "emerald-200": rgb(167 243 208),
  "emerald-300": rgb(110 231 183),
  "emerald-400": rgb(52 211 153),
  "emerald-500": rgb(16 185 129),
  "emerald-600": rgb(5 150 105),
  "emerald-700": rgb(4 120 87),
  "emerald-800": rgb(6 95 70),
  "emerald-900": rgb(6 78 59),
  "emerald-950": rgb(2 44 34),
  "teal-50": rgb(240 253 250),
  "teal-100": rgb(204 251 241),
  "teal-200": rgb(153 246 228),
  "teal-300": rgb(94 234 212),
  "teal-400": rgb(45 212 191),
  "teal-500": rgb(20 184 166),
  "teal-600": rgb(13 148 136),
  "teal-700": rgb(15 118 110),
  "teal-800": rgb(17 94 89),
  "teal-900": rgb(19 78 74),
  "teal-950": rgb(4 47 46),
  "cyan-50": rgb(236 254 255),
  "cyan-100": rgb(207 250 254),
  "cyan-200": rgb(165 243 252),
  "cyan-300": rgb(103 232 249),
  "cyan-400": rgb(34 211 238),
  "cyan-500": rgb(6 182 212),
  "cyan-600": rgb(8 145 178),
  "cyan-700": rgb(14 116 144),
  "cyan-800": rgb(21 94 117),
  "cyan-900": rgb(22 78 99),
  "cyan-950": rgb(8 51 68),
  "sky-50": rgb(240 249 255),
  "sky-100": rgb(224 242 254),
  "sky-200": rgb(186 230 253),
  "sky-300": rgb(125 211 252),
  "sky-400": rgb(56 189 248),
  "sky-500": rgb(14 165 233),
  "sky-600": rgb(2 132 199),
  "sky-700": rgb(3 105 161),
  "sky-800": rgb(7 89 133),
  "sky-900": rgb(12 74 110),
  "sky-950": rgb(8 47 73),
  "blue-50": rgb(239 246 255),
  "blue-100": rgb(219 234 254),
  "blue-200": rgb(191 219 254),
  "blue-300": rgb(147 197 253),
  "blue-400": rgb(96 165 250),
  "blue-500": rgb(59 130 246),
  "blue-600": rgb(37 99 235),
  "blue-700": rgb(29 78 216),
  "blue-800": rgb(30 64 175),
  "blue-900": rgb(30 58 138),
  "blue-950": rgb(23 37 84),
  "indigo-50": rgb(238 242 255),
  "indigo-100": rgb(224 231 255),
  "indigo-200": rgb(199 210 254),
  "indigo-300": rgb(165 180 252),
  "indigo-400": rgb(129 140 248),
  "indigo-500": rgb(99 102 241),
  "indigo-600": rgb(79 70 229),
  "indigo-700": rgb(67 56 202),
  "indigo-800": rgb(55 48 163),
  "indigo-900": rgb(49 46 129),
  "indigo-950": rgb(30 27 75),
  "violet-50": rgb(245 243 255),
  "violet-100": rgb(237 233 254),
  "violet-200": rgb(221 214 254),
  "violet-300": rgb(196 181 253),
  "violet-400": rgb(167 139 250),
  "violet-500": rgb(139 92 246),
  "violet-600": rgb(124 58 237),
  "violet-700": rgb(109 40 217),
  "violet-800": rgb(91 33 182),
  "violet-900": rgb(76 29 149),
  "violet-950": rgb(46 16 101),
  "purple-50": rgb(250 245 255),
  "purple-100": rgb(243 232 255),
  "purple-200": rgb(233 213 255),
  "purple-300": rgb(216 180 254),
  "purple-400": rgb(192 132 252),
  "purple-500": rgb(168 85 247),
  "purple-600": rgb(147 51 234),
  "purple-700": rgb(126 34 206),
  "purple-800": rgb(107 33 168),
  "purple-900": rgb(88 28 135),
  "purple-950": rgb(59 7 100),
  "fuchsia-50": rgb(253 244 255),
  "fuchsia-100": rgb(250 232 255),
  "fuchsia-200": rgb(245 208 254),
  "fuchsia-300": rgb(240 171 252),
  "fuchsia-400": rgb(232 121 249),
  "fuchsia-500": rgb(217 70 239),
  "fuchsia-600": rgb(192 38 211),
  "fuchsia-700": rgb(162 28 175),
  "fuchsia-800": rgb(134 25 143),
  "fuchsia-900": rgb(112 26 117),
  "fuchsia-950": rgb(74 4 78),
  "pink-50": rgb(253 242 248),
  "pink-100": rgb(252 231 243),
  "pink-200": rgb(251 207 232),
  "pink-300": rgb(249 168 212),
  "pink-400": rgb(244 114 182),
  "pink-500": rgb(236 72 153),
  "pink-600": rgb(219 39 119),
  "pink-700": rgb(190 24 93),
  "pink-800": rgb(157 23 77),
  "pink-900": rgb(131 24 67),
  "pink-950": rgb(80 7 36),
  "rose-50": rgb(255 241 242),
  "rose-100": rgb(255 228 230),
  "rose-200": rgb(254 205 211),
  "rose-300": rgb(253 164 175),
  "rose-400": rgb(251 113 133),
  "rose-500": rgb(244 63 94),
  "rose-600": rgb(225 29 72),
  "rose-700": rgb(190 18 60),
  "rose-800": rgb(159 18 57),
  "rose-900": rgb(136 19 55),
  "rose-950": rgb(76 5 25),
);

$gap: (
  "0": 0px,
  "1": 0.25rem,
  /* 4px */ "2": 0.5rem,
  /* 8px */ "3": 0.75rem,
  /* 12px */ "4": 1rem,
  /* 16px */ "5": 1.25rem,
  /* 20px */ "6": 1.5rem,
  /* 24px */ "7": 1.75rem,
  /* 28px */ "8": 2rem,
  /* 32px */ "9": 2.25rem,
  /* 36px */ "10": 2.5rem,
  /* 40px */ "11": 2.75rem,
  /* 44px */ "12": 3rem,
  /* 48px */ "14": 3.5rem,
  /* 56px */ "16": 4rem,
  /* 64px */ "20": 5rem,
  /* 80px */ "24": 6rem,
  /* 96px */ "28": 7rem,
  /* 112px */ "32": 8rem,
  /* 128px */ "36": 9rem,
  /* 144px */ "40": 10rem,
  /* 160px */ "44": 11rem,
  /* 176px */ "48": 12rem,
  /* 192px */ "52": 13rem,
  /* 208px */ "56": 14rem,
  /* 224px */ "60": 15rem,
  /* 240px */ "64": 16rem,
  /* 256px */ "72": 18rem,
  /* 288px */ "80": 20rem,
  /* 320px */ "96": 24rem,
  /* 384px */
);

$justify: (
  "center": center,
  "end": end,
  "start": start,
  "between": space-between,
  "baseline": baseline,
  "around": space-around,
  "evenly": space-evenly,
);

$items: (
  "center": center,
  "baseline": baseline,
  "end": flex-end,
  "start": flex-start,
);

/* width */
$width: (
  "0": 0px,
  "px": 1px,
  "1": 0.25rem,
  "2": 0.5rem,
  /* 8px */ "3": 0.75rem,
  /* 12px */ "4": 1rem,
  /* 16px */ "5": 1.25rem,
  /* 20px */ "6": 1.5rem,
  /* 24px */ "7": 1.75rem,
  /* 28px */ "8": 2rem,
  /* 32px */ "9": 2.25rem,
  /* 36px */ "10": 2.5rem,
  /* 40px */ "11": 2.75rem,
  /* 44px */ "12": 3rem,
  /* 48px */ "14": 3.5rem,
  /* 56px */ "16": 4rem,
  /* 64px */ "20": 5rem,
  /* 80px */ "24": 6rem,
  /* 96px */ "28": 7rem,
  /* 112px */ "32": 8rem,
  /* 128px */ "36": 9rem,
  /* 144px */ "40": 10rem,
  /* 160px */ "44": 11rem,
  /* 176px */ "48": 12rem,
  /* 192px */ "52": 13rem,
  /* 208px */ "56": 14rem,
  /* 224px */ "60": 15rem,
  /* 240px */ "64": 16rem,
  /* 256px */ "72": 18rem,
  /* 288px */ "80": 20rem,
  /* 320px */ "96": 24rem,
  /* 384px */ "auto": auto,
  "full": 100%,
  "screen": 100vw,
  "min": min-content,
  "max": max-content,
  "fit": fit-content,
);

/* height */
$height: (
  "0": 0px,
  "px": 1px,
  "1": 0.25rem,
  "2": 0.5rem,
  /* 8px */ "3": 0.75rem,
  /* 12px */ "4": 1rem,
  /* 16px */ "5": 1.25rem,
  /* 20px */ "6": 1.5rem,
  /* 24px */ "7": 1.75rem,
  /* 28px */ "8": 2rem,
  /* 32px */ "9": 2.25rem,
  /* 36px */ "10": 2.5rem,
  /* 40px */ "11": 2.75rem,
  /* 44px */ "12": 3rem,
  /* 48px */ "14": 3.5rem,
  /* 56px */ "16": 4rem,
  /* 64px */ "20": 5rem,
  /* 80px */ "24": 6rem,
  /* 96px */ "28": 7rem,
  /* 112px */ "32": 8rem,
  /* 128px */ "36": 9rem,
  /* 144px */ "40": 10rem,
  /* 160px */ "44": 11rem,
  /* 176px */ "48": 12rem,
  /* 192px */ "52": 13rem,
  /* 208px */ "56": 14rem,
  /* 224px */ "60": 15rem,
  /* 240px */ "64": 16rem,
  /* 256px */ "72": 18rem,
  /* 288px */ "80": 20rem,
  /* 320px */ "96": 24rem,
  /* 384px */ "auto": auto,
  "full": 100%,
  "screen": 100vh,
  "min": min-content,
  "max": max-content,
  "fit": fit-content,
);

/* padding */
$padding: (
  "auto": auto,
  "0": 0px,
  /* 2px */ "1": 0.25rem,
  /* 6px */ "2": 0.5rem,
  /* 10px */ "3": 0.75rem,
  /* 14px */ "4": 1rem,
  /* 16px */ "5": 1.25rem,
  /* 20px */ "6": 1.5rem,
  /* 24px */ "7": 1.75rem,
  /* 28px */ "8": 2rem,
  /* 32px */ "9": 2.25rem,
  /* 36px */ "10": 2.5rem,
  /* 40px */ "11": 2.75rem,
  /* 44px */ "12": 3rem,
  /* 48px */ "14": 3.5rem,
  /* 56px */ "16": 4rem,
  /* 64px */ "20": 5rem,
  "24": 6rem,
  "28": 7rem,
  "32": 8rem,
  "36": 9rem,
  "40": 10rem,
  "44": 11rem,
  "48": 12rem,
  "52": 13rem,
  "56": 14rem,
  "60": 15rem,
  /* 240px */ "64": 16rem,
  /* 256px */ "72": 18rem,
  "80": 20rem,
  "96": 24rem,
);

/* margin */
$margin: (
  "auto": auto,
  "0": 0px,
  /* 2px */ "1": 0.25rem,
  /* 6px */ "2": 0.5rem,
  /* 10px */ "3": 0.75rem,
  /* 14px */ "4": 1rem,
  /* 16px */ "5": 1.25rem,
  /* 20px */ "6": 1.5rem,
  /* 24px */ "7": 1.75rem,
  /* 28px */ "8": 2rem,
  /* 32px */ "9": 2.25rem,
  /* 36px */ "10": 2.5rem,
  /* 40px */ "11": 2.75rem,
  /* 44px */ "12": 3rem,
  /* 48px */ "14": 3.5rem,
  /* 56px */ "16": 4rem,
  /* 64px */ "20": 5rem,
  "24": 6rem,
  "28": 7rem,
  "32": 8rem,
  "36": 9rem,
  "40": 10rem,
  "44": 11rem,
  "48": 12rem,
  "52": 13rem,
  "56": 14rem,
  "60": 15rem,
  /* 240px */ "64": 16rem,
  /* 256px */ "72": 18rem,
  "80": 20rem,
  "96": 24rem,
);

$borderRadius: (
  "none": 0px,
  /* 4px */ "md": 0.375rem,
  /* 6px */ "lg": 0.5rem,
  /* 8px */ "xl": 0.75rem,
  /* 12px */ "2xl": 1rem,
  /* 16px */ "3xl": 1.5rem,
  /* 24px */ "full": 9999px,
);

$borderWidth: (
  0: 0px,
  2: 2px,
  4: 4px,
  8: 8px,
);

$borderStyle: (
  "none": none,
  "solid": solid,
  "dashed": dashed,
  "dotted": dotted,
  "double": double,
  "groove": groove,
  "ridge": ridge,
  "inset": inset,
  "outset": outset,
);

$borderColor: (
  "primary": $primary-main,
  "error": $danger,
  "neutral-80": $neutral-80,
  "grey": grey,
  "white": white,
  "black": black,
);

$fontSize: (
  "xs" 0.75rem 1rem,
  /* 12px */ "sm" 0.875rem 1.25rem,
  /* 14px */ "base" 1rem 1.5rem,
  /* 16px */ "lg" 1.125rem 1.75rem,
  /* 18px */ "xl" 1.25rem 1.75rem,
  /* 20px */ "2xl" 1.5rem 2rem,
  /* 24px */ "3xl" 1.875rem 2.25rem,
  /* 30px */ "4xl" 2.25rem 2.5rem,
  /* 36px */ "5xl" 3rem 1,
  /* 48px */ "6xl" 3.75rem 1,
  /* 60px */ "7xl" 4.5rem 1,
  /* 72px */ "8xl" 6rem 1,
  /* 96px */ "9xl" 8rem 1
);

$align: (
  "center": center,
  "left": left,
  "right": right,
  "justify": justify,
  "start": start,
  "end": end,
);

$color: (
  "primary": $primary-main,
  "error": $danger,
  "neutral-80": $neutral-80,
  "grey": grey,
  "white": white,
);

$backgroundColor: (
  "inherit": inherit,
  "primary": $primary-main,
  "neutral-80": $neutral-80,
  "current": currentColor,
  "transparent": transparent,
  "black": $primary,
  "white": white,
  "grey": grey,
);

$overFlow: (
  "auto": auto,
  "hidden": hidden,
  "clip": clip,
  "visible": visible,
  "scroll": scroll,
);
$decoration: (
  "underline": underline,
  "overline": overline,
  "through": line-through,
  "none": none,
);

$fontFamilyAndFontFamily: (
  "extraLight": Mulish-ExtraLight,
  /* 200 */ "light": Mulish-Light,
  /* 300 */ "regular": Mulish-Regular,
  /* 400 */ "medium": Mulish-Medium,
  /* 500 */ "semiBold": Mulish-SemiBold,
  /* 600 */ "bold": Mulish-Bold,
  /* 700 */ "extraBold": Mulish-ExtraBold,
  /* 800 */ "black": Mulish-Black,
  /* 900 */ "blackItalic": Mulish-BlackItalic,
  "boldItalic": Mulish-BoldItalic,
  "extraBoldItalic": Mulish-ExtraBoldItalic,
  "extraLightItalic": Mulish-ExtraLightItalic,
  "italic": Mulish-Italic,
  "lightItalic": Mulish-LightItalic,
  "mediumItalic": Mulish-MediumItalic,
  "semiBoldItalic": Mulish-SemiBoldItalic,
);

$cursor: (
  "auto": auto,
  "default": default,
  "pointer": pointer,
  "wait": wait,
  "text": text,
  "move": move,
  "help": help,
  "not-allowed": not-allowed,
  "none": none,
  "context-menu": context-menu,
  "progress": progress,
  "cell": cell,
  "crosshair": crosshair,
  "vertical-text": vertical-text,
  "alias": alias,
  "copy": copy,
  "no-drop": no-drop,
  "grab": grab,
  "grabbing": grabbing,
  "all-scroll": all-scroll,
  "col-resize": col-resize,
  "row-resize": row-resize,
  "n-resize": n-resize,
  "e-resize": e-resize,
  "s-resize": s-resize,
  "w-resize": w-resize,
  "ne-resize": ne-resize,
  "nw-resize": nw-resize,
  "se-resize": se-resize,
  "sw-resize": sw-resize,
  "ew-resize": ew-resize,
  "ns-resize": ns-resize,
  "nesw-resize": nesw-resize,
  "nwse-resize": nwse-resize,
  "zoom-in": zoom-in,
  "zoom-out": zoom-out,
);

$gridTemplateColumns: (
  "1": repeat(1, minmax(0, 1fr)),
  "2": repeat(2, minmax(0, 1fr)),
  "3": repeat(3, minmax(0, 1fr)),
  "4": repeat(4, minmax(0, 1fr)),
  "5": repeat(5, minmax(0, 1fr)),
  "6": repeat(6, minmax(0, 1fr)),
  "7": repeat(7, minmax(0, 1fr)),
  "8": repeat(8, minmax(0, 1fr)),
  "9": repeat(9, minmax(0, 1fr)),
  "10": repeat(10, minmax(0, 1fr)),
  "11": repeat(11, minmax(0, 1fr)),
  "12": repeat(12, minmax(0, 1fr)),
  "none": none,
);

$bgSize: (
  "auto": auto,
  "cover": cover,
  "contain": contain,
);

$bgRepeat: (
  "repeat": repeat,
  "no-repeat": no-repeat,
  "repeat-x": repeat-x,
  "repeat-y": repeat-y,
  "repeat-round": round,
  "repeat-space": space,
);
$bgPosition: (
  "bottom": bottom,
  "center": center,
  "left": left,
  "left-bottom": left bottom,
  "left-top": left top,
  "right": right,
  "right-bottom": right bottom,
  "right-top": right top,
  "top": top,
);
$bgOrigin: (
  "origin-border": border-box,
  "origin-padding": padding-box,
  "origin-content": content-box,
);
$bgAttachment: (
  "bg-fixed": fixed,
  "bg-local": local,
  "bg-scroll": scroll,
);
$objectFit: (
  "contain": contain,
  "cover": cover,
  "fill": fill,
  "none": none,
  "scale-down": scale-down,
);
$backdropBlur: (
  "blur-none": blur(0),
  "blur-sm": blur(4px),
  "blur": blur(8px),
  "blur-md": blur(12px),
  "blur-lg": blur(16px),
  "blur-xl": blur(24px),
  "blur-2xl": blur(40px),
  "blur-3xl": blur(64px),
);
$gridColumnStart-End: (
  "auto": auto,
  "span-1": span 1 / span 1,
  "span-2": span 2 / span 2,
  "span-3": span 3 / span 3,
  "span-4": span 4 / span 4,
  "span-5": span 5 / span 5,
  "span-6": span 6 / span 6,
  "span-7": span 7 / span 7,
  "span-8": span 8 / span 8,
  "span-9": span 9 / span 9,
  "span-10": span 10 / span 10,
  "span-11": span 11 / span 11,
  "span-12": span 12 / span 12,
);

$gridColumnStart: (
  "start-1": 1,
  "start-2": 2,
  "start-3": 3,
  "start-4": 4,
  "start-5": 5,
  "start-6": 6,
  "start-7": 7,
  "start-8": 8,
  "start-9": 9,
  "start-10": 10,
  "start-11": 11,
  "start-12": 12,
  "start-13": 13,
  "start-auto": auto,
);

$gridColumnEnd: (
  "end-1": 1,
  "end-2": 2,
  "end-3": 3,
  "end-4": 4,
  "end-5": 5,
  "end-6": 6,
  "end-7": 7,
  "end-8": 8,
  "end-9": 9,
  "end-10": 10,
  "end-11": 11,
  "end-12": 12,
  "end-13": 13,
  "end-auto": auto,
);

$textTransform: (
  "uppercase": uppercase,
  "lowercase": lowercase,
  "capitalize": capitalize,
  "normal-case": none,
);

$textIndent: (
  "0": 0px,
  "px": 1px,
  /* 2px */ "1": 0.25rem,
  /* 6px */ "2": 0.5rem,
  /* 10px */ "3": 0.75rem,
  /* 14px */ "4": 1rem,
  /* 16px */ "5": 1.25rem,
  /* 20px */ "6": 1.5rem,
  /* 24px */ "7": 1.75rem,
  /* 28px */ "8": 2rem,
  /* 32px */ "9": 2.25rem,
  /* 36px */ "10": 2.5rem,
  /* 40px */ "11": 2.75rem,
  /* 44px */ "12": 3rem,
  /* 48px */ "14": 3.5rem,
  /* 56px */ "16": 4rem,
  /* 64px */ "20": 5rem,
  /* 80px */ "24": 6rem,
  /* 96px */ "28": 7rem,
  /* 112px */ "32": 8rem,
  /* 128px */ "36": 9rem,
  /* 144px */ "40": 10rem,
  /* 160px */ "44": 11rem,
  /* 176px */ "48": 12rem,
  /* 192px */ "52": 13rem,
  /* 208px */ "56": 14rem,
  /* 224px */ "60": 15rem,
  /* 240px */ "64": 16rem,
  /* 256px */ "72": 18rem,
  /* 288px */ "80": 20rem,
  /* 320px */ "96": 24rem,
  /* 384px */
);

$fontWeight: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
);

$topBotRightLeft: (
  "0": 0px,
  "px": 1px,
  "1": 0.25rem,
  "2": 0.5rem,
  /* 8px */ "3": 0.75rem,
  /* 12px */ "4": 1rem,
  /* 16px */ "5": 1.25rem,
  /* 20px */ "6": 1.5rem,
  /* 24px */ "7": 1.75rem,
  /* 28px */ "8": 2rem,
  /* 32px */ "9": 2.25rem,
  /* 36px */ "10": 2.5rem,
  /* 40px */ "11": 2.75rem,
  /* 44px */ "12": 3rem,
  /* 48px */ "14": 3.5rem,
  /* 56px */ "16": 4rem,
  /* 64px */ "20": 5rem,
  /* 80px */ "24": 6rem,
  /* 96px */ "28": 7rem,
  /* 112px */ "32": 8rem,
  /* 128px */ "36": 9rem,
  /* 144px */ "40": 10rem,
  /* 160px */ "44": 11rem,
  /* 176px */ "48": 12rem,
  /* 192px */ "52": 13rem,
  /* 208px */ "56": 14rem,
  /* 224px */ "60": 15rem,
  /* 240px */ "64": 16rem,
  /* 256px */ "72": 18rem,
  /* 288px */ "80": 20rem,
  /* 320px */ "96": 24rem,
  /* 384px */ "auto": auto,
  "full": 100%,
  "screen": 100vh,
  "min": min-content,
  "max": max-content,
  "fit": fit-content,
);

/* zIndex */
$zIndex: (
  "0": 0,
  "10": 10,
  "20": 20,
  "30": 30,
  "40": 40,
  "50": 50,
  "auto": auto,
);

/* fontWeight and fontFamily */
$fontFamilyAndFontFamily: (
  "extraLight": Mulish-ExtraLight,
  /* 200 */ "light": Mulish-Light,
  /* 300 */ "regular": Mulish-Regular,
  /* 400 */ "medium": Mulish-Medium,
  /* 500 */ "semiBold": Mulish-SemiBold,
  /* 600 */ "bold": Mulish-SemiBold,
  /* 700 */ "extraBold": Mulish-ExtraBold,
  /* 800 */ "black": Mulish-Black,
  /* 900 */ "blackItalic": Mulish-BlackItalic,
  "boldItalic": Mulish-BoldItalic,
  "extraBoldItalic": Mulish-ExtraBoldItalic,
  "extraLightItalic": Mulish-ExtraLightItalic,
  "italic": Mulish-Italic,
  "lightItalic": Mulish-LightItalic,
  "mediumItalic": Mulish-MediumItalic,
  "semiBoldItalic": Mulish-SemiBoldItalic,
);

$flex: (
  "1": 1 1 0%,
);
$flexDirection: (
  "column": column,
  "row": row,
);

$flexWrap: (wrap, wrap-reverse, nowrap);
