@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 300;
  font-style: normal;
  src: local('HelveticaNeue'), url('HelveticaNeue.ttf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  font-style: normal;
  src: local('HelveticaNeue'), url('HelveticaNeue-Thin.ttf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  font-style: normal;
  src: local('HelveticaNeue'), url('HelveticaNeue-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 600;
  font-style: normal;
  src: local('HelveticaNeue'), url('HelveticaNeue-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  font-style: normal;
  src: local('HelveticaNeue'), url('HelveticaNeue-Bold.ttf') format('opentype');
}
