
.image {
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    img {
        height: 100% !important;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &-cover {
        img {
            object-fit: cover;
        }
    }

    &-contain {
        img {
            object-fit: contain;
        }
    }

    &-inherit {
        img {
            object-fit: inherit;
        }
    }

    &-initial {
        img {
            object-fit: initial;
        }
    }

    &-1x1 {
        @include aspect-ratio(1,1);
    }

    &-3x4 {

        @include aspect-ratio(3,4);
    }

    &-16x9 {
        @include aspect-ratio(16,9);
    }

    &-1x2 {
        @include aspect-ratio(1,2);
    }

    &-108x97 {
        @include aspect-ratio(108,97);
    }
}