.table {
  border-color: transparent !important;
  border-radius: 0 0 16px 16px;

  .k-pager {
    background-color: white;
    height: 80px;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #e0e0e0;
  }

  .k-pager-numbers {
    .k-selected {
      border-radius: 24px;
    }
    .k-button-flat-primary {
      color: black;
      border-radius: 24px;
    }
    .k-button-md {
      padding-block: 8px;
      padding-inline: 15px;
    }
  }

  .k-pager-sizes {
    .k-dropdownlist {
      width: 6rem;
      background-color: white;
      height: 35px;
    }
  }

  .k-grid-container {
    border-color: transparent !important;

    .k-grid-content {
      overflow: hidden;
      &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-radius: 8px;
      }

      &::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #e0e0e0;
      }
    }

    table {
      tbody {
        tr {
          background-color: white !important;
          height: 60px;
          &:hover {
            background-color: #f5f7fa !important;
          }
          td {
            border-inline-start-width: 0px;
            border-bottom: 1px solid #e0e0e0;
          }
        }
      }
    }
  }

  .k-table-th.k-sorted {
    background-color: white;
  }

  .k-grid-header {
    padding-right: 0px !important;
    border-bottom-width: 1px;
    border-color: #e0e0e0;
    background-color: #fafafa !important;

    .k-grid-header-wrap {
      background-color: transparent !important;
      border-inline-end-width: 0px;
      .k-table-thead {
        color: #1a1a1a;
        text-transform: uppercase;
        font-size: 13px !important;
        font-weight: 800;
        background-color: white;
      }
    }
  }

  thead {
    th {
      border-color: transparent !important;
      padding-block: 10px !important;
      padding-inline: 16px !important;

      &:first-of-type {
        border-radius: 8px !important;
      }

      &:last-of-type {
        border-radius: 8px !important;
      }
    }
  }

  tbody {
    margin-top: 18px !important;
  }
}
